* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  
    font-family: kanit;
    outline: none;
  }
  
  header {
    background: rgb(11,205,105);
background: linear-gradient(90deg, rgba(11,205,105,1) 0%, rgba(35,196,165,1) 42%, rgba(43,132,226,1) 100%);
    display: flex;
  
    border-radius: 5px;
  }

  a{
    text-decoration: none;
  }
  nav{
    margin-top: 10px;
    margin-left: 40px;

  }
  
  li{
  color: black;
    list-style: none;
    display: inline;
  
  
  }
  input{
    width: 14rem;
    border-color: black;
    border-width: 1px;
    border-radius: 3px;
  }
  
  .input-pesquisar {
    background-color: white;
    border: solid 1px;
    border-radius: 7px;
    margin-top: 12px;
    width: 23rem;
    margin-left: 10rem;
    
      height: 28px;
  }
  
  body {
    background: rgb(43,132,226);
    background: linear-gradient(90deg, rgba(43,132,226,1) 1%, rgba(35,196,165,1) 41%, rgba(11,205,105,1) 100%);
  }
  
  section {
    background-color: rgba(255, 255, 255);
    margin-top: 5px;
    margin-left: 20rem;
    margin-right: 20rem;
    
    align-items: center;
    text-align: center;

    height: 58rem;
  
    border-radius: 10px;
  }
  
  div {  
    box-align: center;
    text-align: left;
   
    margin-top: 6px;
    margin-left: 1rem;
  }
  
  article {
    margin-left: 5rem;
  }
  
  h1 {
    margin-left: 2rem;
  }
  
  

  
  button {
    cursor: pointer;
    background-color: #0bcd69;
    border-width: 1px;
    border-radius: 7px;
    width: 4rem;
  }
  
  p{
    font-size: 30px;
    
    margin-left: 5px;
  }

/*style nome*/
  #NomeCompleto{
      margin-left: 32px;
  }
/*Style Form Endereço*/
  #Rua{
      margin-left: 120px;
  }
  #Numero{
    margin-left: 91px;
  }

  #Complemento{
    margin-left: 46px;
  }
  #Bairro{
    margin-left: 103px;
  }
  #Cidade{
    margin-left: 97px;
  }

  /* Style Contatos*/
  
  #Celular{
    margin-left: 97px;
  }
  #Email{
    margin-left: 107px;
  }

  /* Style documentação*/
  #Cpf{
    margin-left: 120px;
  }

  #Identidade{
    margin-left: 71px;
  }

  #Orgão{
    margin-left: 28px;
  }

  /* style Filiação*/

  #NomePai{
    margin-left: 57px;
  }
  #NomeMae{
    margin-left: 50px;
  }

  /*style Botão enviar*/
#Enviar{
  Cursor: pointer;
  width: 20rem;
  height: 50px;
  background-color:#0bcd69; 

  border-radius: 10px;
  border: solid 1px;
  
}

#Enviar:hover{
  background-color: #2fb46f;
}