* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: kanit;
  outline: none;
}

header {
 background: rgb(11,205,105);
  background: linear-gradient(90deg, rgba(11,205,105,1) 0%, rgba(35,196,165,1) 42%, rgba(43,132,226,1) 100%);
  display: flex;

  
}
.input-busca {
  background-color: white;
  border: solid 1px;
  border-radius: 7px;
  margin-top: 12px;
  width: 23rem;
  margin-left: 10rem;
  height: 28px;
}
nav{
  margin-top: 10px;
  margin-left: 40px;
}
a{
  text-decoration: none;
}
li{
color: black;
  list-style: none;
  display: inline;


}


body {
  background: rgb(43,132,226);
    background: linear-gradient(90deg, rgba(43,132,226,1) 1%, rgba(35,196,165,1) 41%, rgba(11,205,105,1) 100%);
  

}

#slider{

  width: 800px;
  max-width: 800px;
  height: 25vw;
  max-height: 150px;

  position: relative;

  margin-left: 15rem;
  border: none;
}
#slider img{
  opacity: 0;

    position: absolute;

    width: 790px;
    height: 140px;

    object-fit: cover;

    transition: opacity 800ms;

    padding-bottom: 8px;
}
#slider img.selected{
  opacity: 1;
}

section {
  background-color: rgba(255, 255, 255);
  margin-top: 5px;
  margin-left: 10rem;
  margin-right: 10rem;

  height: 38rem;

  border-radius: 10px;
}

div {
  display: inline-block;

  margin-left: 50px;

  border-radius: 10px;
  border: 1px solid;

  padding: 3px;

  margin-top: 6px;
}

img {
  margin-top: 4px;
}
.camisa2 {
  width: 197px;
}
.titulo-camisas {
  text-align: center;
  color: #4b4453;
}

.preço {
  text-align: center;
  color: #c34a36;
}

table {
  border-collapse: collapse;
  border-color: #4b4453;
  padding: 0;
  margin-left: 5rem;

  margin-top: 1rem;
  margin-bottom: 10rem;
  height: 50px;
  width: 25rem;

  text-align: center;
}

article {
  margin-left: 5rem;
}

h1 {
  margin-left: 2rem;
}

h2 {
  margin-left: 18px;
}

h3 {
  margin-top: 2rem;
  margin-left: 18px;
}

button {
  cursor: pointer;
  background-color: #0bcd69;
  border-width: 1px;
  border-radius: 7px;
  width: 4rem;
  height: 26px;
  margin-top: 3px;
}

.buscar{
  width: 24px;
  height: 24px;
}

.text-cadastro{
font-size: 20px;
color: #f77055;
}

.cadastro{
  margin-left: 23rem;
  margin-top: 9px;

  text-decoration: none;
}
  
@media (max-width: 800px){
  header{
    width: 100%;
  }
  h1{
    margin-left: 0rem;
  }

  h2 {
    margin-left: 4px;
    width: 30px;
  }
  form{
    height: 0px;
  width: 0px;
  }

  nav{
    margin-top: 18px;
    font-size: 13px;
    margin-left: 20px;
  }
  button{
    font-size: 0px;
  height: 0px;
  width: 0px;
  }
  .busca{
    height: 0px;
  width: 0px;
  }
  .input-busca {
    height: 0px;
    width: 0px;
  }
  body { overflow-x: hidden; }

  section {
    background-color: rgba(255, 255, 255);
    margin-top: 0px;
    margin-left: 0rem;
    margin-right: 0rem;
    width: 100%;
    height: 80rem;
  
    border-radius: 0px;
  }
.divcam2{
  width: 15rem;
}
  table{
    margin-left: 5px;

    height: 50px;
    width: 22rem;
  }

}